{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="flash-message flash-message-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <span class="close-alert float-right text-xl cursor-pointer">&times;</span>
        </div>
    {% endif %}
    <div class="centered">
        <form method="POST" class="form">
            <h2 class="sub-title">Sign in</h2>
            <div>
                <label for="inputUsername">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Your username" required autofocus />
            </div>
            <div>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" placeholder="********" required />
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <div>
                <label for="rememberMe">Remember me</label>
                <input type="checkbox" name="_remember_me" id="rememberMe" checked />
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Sign in</button>
                <p class="text-blue-600 dark:text-white mb-4 border-t">Do not have an account yet ?</p>
                <a class="btn btn-primary" href="{{ path('app_register') }}">Register now !</a>
            </div>
        </form>
    </div>
{% endblock %}
