{% extends 'base.html.twig' %}

{% block title %}Edit Thematic{% endblock %}

{% block body %}
    <h1>Edit Thematic</h1>

    {{ include('thematic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_thematic_index') }}">back to list</a>

    {{ include('thematic/_delete_form.html.twig') }}
{% endblock %}
