{% extends 'base.html.twig' %}

{% block title %}New Thematic{% endblock %}

{% block body %}
    <h1 class="main-title">Create new thematic</h1>
    <div class="centered">
        {{ include('thematic/_form.html.twig') }}
    </div>
{% endblock %}
