{% extends 'base.html.twig' %}

{% block title %}Edit my comment{% endblock %}

{% block body %}
    <h1 class="main-title">Edit my comment</h1>

    {{ include('comment/_form.html.twig', {button_label: 'Update'}) }}

    <div class="flex gap-3">
        <a class="btn btn-danger" href="{{ path('app_recipe_show', {'id': comment.recipe.id}) }}">Cancel</a>
        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}
