{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1 class="main-title">Popular recipes</h1>

    <p>This is the 10 most popular recipes</p>

    {% if popular_recipes is not empty %}
        <div class="card-container">
            {% for recipe in popular_recipes %}
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="card">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <p class="card-p">Created by {{ recipe.cooker.username }} on {{ recipe.createdAt|date('Y-m-d') }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no recipes in the database yet.</p>
    {% endif %}
{% endblock %}
