{{ form_start(form, {attr: {'class': 'form'}}) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
