{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="main-title">Create new category</h1>
    <div class="centered">
        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
