<form
    method="POST"
    action="{{ path('app_user_profile_delete', {'id': user.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete your account? You will lose all your data.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}" />
    <button type="submit" class="btn btn-danger">Delete my account</button>
</form>
