{% extends 'base.html.twig' %}

{% block title %}Edit your profile{% endblock %}

{% block body %}
    <h1 class="main-title">Edit your profile</h1>

    <div class="centered">
        {{ include('user_profile/_form.html.twig', {form: user_modification_form}) }}
    </div>

    <h2 class="text-red-600 font-bold">DANGER ZONE</h2>

    <p>Delete your account, you will lose all your data.</p>

    {{ include('user_profile/_delete_account_form.html.twig') }}
{% endblock %}
