{{ form_row(form.name) }}
{{ form_row(form.quantity) }}
{{ form_row(form.unit) }}
<div class="text-center">
    <button type="button" class="btn-remove-item btn btn-danger">Remove from recipe</button>
</div>
