{% extends 'base.html.twig' %}

{% block title %}Edit Recipe{% endblock %}

{% block body %}
    <h1 class="main-title">Edit Recipe</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="flex gap-x-4 mt-4">
        <a class="btn btn-primary" href="{{ path('app_recipe_index') }}">Back to list</a>
        {{ include('recipe/_delete_form.html.twig') }}
    </div>
{% endblock %}
