{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    <h1 class="main-title">Create new recipe</h1>
    <div class="centered">
        {{ include('recipe/_form.html.twig') }}
    </div>
{% endblock %}
