{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <h1 class="main-title">Create new tag</h1>
    <div class="centered">
        {{ include('tag/_form.html.twig') }}
    </div>
{% endblock %}
